body {
	display: flex;
	flex-direction: row;
	height: 100vh;
	border: var(--foreground) 1px solid;
}

.pathContainer {
	text-align: center;
	width: 15vw;
	display: flex;
	flex-direction: column;
}

#currentPathContainer {
	border-right: var(--foreground) 1px solid;
}

#pathfindContainer {
	border-left: var(--foreground) 1px solid;
}

.pathHeader {
	background-color: var(--background);
	border-bottom: var(--foreground) 1px solid;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pathList {
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.25rem 1rem;
	line-height: 12px;
	display: flex;
	max-height: 100%;
	overflow: auto;
}

.pathList > .pathNode {
	margin-top: 5px;
	margin-bottom: 5px;
}

.pathNode,
.path {
	line-height: 100%;
}

.pathNode {
	padding: 0.25rem 0.5rem;
	border: 1px solid var(--foreground);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: var(--background);
}

#edgesContainer {
	border-top: var(--foreground) 1px solid;
	padding: 0.25rem 0.5rem;
}

#edgesContainer {
	text-align: center;
}
#edgesList {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	align-items: center;
	flex-wrap: wrap;
	margin: 0.25rem 0;
	overflow-x: auto;
}

.edge {
	padding: 0.25rem 0.5rem;
	border: 1px solid var(--foreground);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.blueRing {
	border-color: var(--blue);
	color: var(--blue);
}
.pinkRing {
	border-color: var(--pink);
	color: var(--pink);
}
.current {
	border-color: var(--green);
	color: var(--green);
}

.blueRing.pinkRing::before {
	background: var(--background);
	position: absolute;
	content: "";
	height: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.blueRing.pinkRing {
	border-width: 0 !important;
	background: repeating-linear-gradient(-45deg, var(--blue) 0 15%, var(--pink) 15% 30%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.blueRing.pinkRing::after {
	background: repeating-linear-gradient(-45deg, var(--blue) 0 15%, var(--pink) 15% 30%);
	position: absolute;
	content: "";
	height: 1px;
	left: -1px;
	top: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	z-index: -2;
}

.edgeTooltip {
	visibility: hidden;
	position: absolute;
	max-height: 30vh;
	width: auto;
	top: 0;
	left: 0;
}

.edge:hover > .edgeTooltip,
.edgeTooltip:hover {
	visibility: visible;
}

[class^="icon"] {
	height: 2rem;
	width: 2rem;
	object-fit: contain;
	align-self: center;
}
[class^="icon"]:has(~ *) {
	margin-right: 0.25rem;
}

.icon-small {
	height: 1.5rem;
	width: 1.5rem;
}

#pathfindSelector {
	display: flex;
	flex-direction: column;
	text-align: left;
	border-bottom: var(--foreground) 1px solid;
	padding: 0.25rem 0.5rem;
	align-items: center;
}

#pathfindSelector input {
	margin-left: 0.25rem;
}

#pathfindSelector > select {
	width: 100%;
}
