:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-height: 100vh;
	max-width: 100vw;
	overflow-y: auto;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

#base {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.pathNode {
	padding: 0.25rem;
	border: #ededed 1px solid;
}

#current {
	text-align: center;
	flex: 1;
}

#pathContainer,
#descendantsContainer {
	text-align: center;
}

#pathContainer {
	border-bottom: var(--foreground) 1px solid;
}

#descendantsContainer {
	border-top: var(--foreground) 1px solid;
}

#pathList,
#descendantsList {
	display: flex;
	justify-content: center;
	overflow-y: auto;
	text-wrap: nowrap;
	gap: 0.5rem;
}

.descendant {
	padding: 0.25rem;
	border: #ededed 1px solid;
}
